@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Poppins:wght@700&family=Roboto&display=swap");

$primary-col: #009051;
$color-gray: #d6d5d5;
$primary-light-col: #a0cd69;
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Kanit", sans-serif;
	height: 100vh;
	a {
		text-decoration: none;
		cursor: pointer;
	}
	button {
		font-family: "Kanit", sans-serif;
	}
}

.container {
	background-color: rgba($color-gray, 0.3);
	min-height: 100vh;
	position: relative;

	&.popup-active {
		.stake-popup {
			z-index: 100;
			display: flex;
			animation: fade-in 1s forwards;

			@keyframes fade-in {
				from {
					opacity: 0;
				}
				to {
					opacity: 1;
				}
			}
		}
	}
	.stake-popup {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-color: rgba($color: $color-gray, $alpha: 0.9);
		z-index: 1000;
		display: flex;
		justify-content: center;
		align-items: center;
		display: none;

		.popup-content {
			background-color: white;
			width: 90%;
			max-width: 600px;
			padding: 30px;
			border-radius: 20px;
			overflow: auto;
			max-height: 80vh;
			position: relative;

			.popup-content-container {
				display: none;
				&.active {
					display: block;
				}
				ul {
					list-style: none;
					margin: 30px 0;

					li {
						margin-bottom: 10px;
					}
					.space-apart {
						display: flex;
						justify-content: space-between;
						gap: 20px;
						p {
							width: 50%;
						}
					}
				}
				.heading {
					width: 100%;
					margin-bottom: 20px;
					display: flex;
					justify-content: space-between;
					gap: 10px;
					.back-btn {
						cursor: pointer;
					}
				}
				.sub-heading {
					width: 100%;
					text-align: center;
				}
				button {
					margin-bottom: 10px;
				}
				.btn-gray {
					background-color: $color-gray;
				}
				.end-btn {
					margin-top: 20px;
				}
				.popup-info {
					display: flex;
					justify-content: space-between;
					align-items: center;
					padding: 30px 20px;
					background-color: $color-gray;
					border-radius: 20px;
					margin: 20px 0;
					gap: 10px;
				}
				&.stake-liquidity {
					.stake-info {
						padding: 5px 15px;
					}
				}
				.add-plus-icon {
					width: 100%;
					display: flex;
					justify-content: center;
					cursor: pointer;
					p {
						padding: 10px 25px;
						background-color: $color-gray;
						border-radius: 50%;
						font-size: 30px;
						color: black;
					}
				}
			}

			input {
				background-color: transparent;
				outline: 0;
				border: 0;
				margin: 15px 0;
				font-size: 16px;
				font-weight: bolder;

				&::-webkit-outer-spin-button,
				&::-webkit-inner-spin-button {
					-webkit-appearance: none;
				}
			}
			input[type="number"] {
				-moz-appearance: textfield;
			}

			button {
				cursor: pointer;
				background-color: $primary-col;
				outline: none;
				border: none;
				color: white;
				width: 100%;
				padding: 15px;
				border-radius: 7px;
				font-family: "Kanit", sans-serif;
			}
		}
	}
	.main {
		display: flex;
		overflow: hidden;
		.sidebar-container {
			background-color: $primary-light-col;
			padding: 0 50px 50px 50px;
			position: relative;
			@media screen and(min-width:605px) {
				animation: slide-right 1.5s ease-in-out forwards;
			}

			ul {
				list-style: none;
				color: white;
				margin-top: 50px;

				li {
					margin-bottom: 20px;

					a {
						text-decoration: none;
						color: white;
					}
				}
			}
			.logo {
				img {
					height: 20px;
				}
			}
			.close {
				display: none;
			}
			.sidebar-social {
				position: absolute;
				bottom: 20px;
				left: 0;
				width: 100%;
				text-align: center;
				display: none;
				button {
					cursor: pointer;
					background-color: transparent;
					border: 2px solid white;
					color: white;
					padding: 10px 20px;
					border-radius: 10px;
					font-weight: bolder;
				}
				@media screen and (max-width: 605px) {
					display: block;
				}
			}
		}

		.main-section-wrapper {
			padding: 10px;
			width: 100%;
		}
		.main-section-container {
			background-color: white;
			border-radius: 20px;
			padding: 30px;
			animation: slide-left 1.5s ease-in-out forwards;
			min-height: calc(100vh - 70px);
			position: relative;
			.heading {
				padding-bottom: 20px;
				border-bottom: 4px solid $color-gray;
			}
			.search-form {
				input {
					margin-top: 15px;
					width: 100%;
					padding: 15px 20px;
					border-radius: 10px;
					border: none;
					outline: none;
					background-color: $color-gray;
					color: black;
				}
			}
			.information {
				max-width: 1100px;
				overflow: auto;
				button {
					cursor: pointer;
					background-color: $primary-col;
					outline: none;
					border: none;
					color: white;
					width: 100%;
					padding: 10px;
					border-radius: 7px;
				}
				.full-screen-table {
					display: flex;
					flex-direction: column;
					gap: 10px;
					margin-top: 10px;
					.row {
						display: flex;
						justify-content: space-between;
						align-items: center;
						padding: 10px;
					}

					.row.header {
						font-weight: bold;
					}

					.cell {
						flex-basis: 30%;
						margin-right: 10px;
					}
					.table-data {
						.table-data-row {
							img {
								height: 30px;
								width: 45px;
							}
							cursor: pointer;
							margin-bottom: 5px;
							&:hover {
								background-color: rgba(
									$color: $color-gray,
									$alpha: 0.6
								);
								border-radius: 7px;
							}
						}
						&.show {
							.table-options {
								display: flex;
							}
						}
					}
				}
				.mobile-screen-table {
					width: 100%;
					display: none;
					.mob-scr-tbl {
						margin-top: 50px;
						&.show {
							.table-options {
								display: flex;
							}
						}
					}
					.logo-name-container {
						text-align: right;
						img {
							height: 30px;
							width: 45px;
						}
					}

					.table-data-container {
						width: 100%;
						display: flex;
						flex-direction: row;
						justify-content: space-between;

						ul {
							list-style: none;
							display: flex;
							flex-direction: column;

							li {
								margin-top: 10px;
							}
						}
						.data {
							li {
								text-align: right;
							}
						}
					}
				}
				@media screen and (max-width: 1050px) {
					.full-screen-table {
						display: none;
					}
					.mobile-screen-table {
						display: block;
					}
				}
			}
		}
		@media screen and (max-width: 605px) {
			.sidebar-container {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				padding-top: 50px;
				z-index: 100;
				height: 100%;
				width: 100%;
				transform: translateY(-100%);

				ul {
					width: 100%;
					text-align: left;
				}
				.sidebar-social {
					position: relative;
					padding: 0;
					margin-top: 100px;
					max-width: 200px;
				}
				.close {
					display: block;
					position: absolute;
					right: 0;
					top: 40px;
					padding: 10px;
					background-color: rgba($color: #000000, $alpha: 0.3);
					color: white;
				}
			}
			.side-bar-show {
				animation: slide-right 0.5s ease-in-out forwards;
			}
			.side-bar-hide {
				animation: sidebar-slide-left 0.5s ease-in-out forwards;
			}
			@keyframes sidebar-slide-left {
				from {
					transform: translateX(0%);
				}
				to {
					transform: translateX(-100%);
				}
			}
		}
	}
	.main-navbar {
		background-color: $primary-light-col;
		padding: 10px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.main-navbar-full-screen,
		.main-navbar-mobile {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
		}
		.main-navbar-mobile {
			display: none;
		}
		.main-navbar-full-screen {
			justify-content: flex-end;

			button {
				cursor: pointer;
				background-color: $primary-col;
				border: none;
				color: white;
				padding: 10px 20px;
				border-radius: 10px;
				font-weight: bolder;
			}
		}
		img {
			height: 20px;
		}
		.hamburger {
			.fa-bars {
				color: white;
			}
		}
		// display: none;
		@media screen and (max-width: 605px) {
			display: flex;
			padding: 20px;
			.main-navbar-full-screen {
				display: none;
			}
			.main-navbar-mobile {
				display: flex;
			}
		}
	}

	@keyframes slide-right {
		from {
			transform: translateX(-100%);
		}
		to {
			transform: translateX(0%);
		}
	}
	@keyframes slide-left {
		from {
			transform: translateX(100%);
		}
		to {
			transform: translateX(0);
		}
	}
	@keyframes slide-up {
		from {
			transform: translateY(100%);
		}
		to {
			transform: translateX(0);
		}
	}
}
